<robot name="yhs_chassis_description">
  <link name="base_link">
    <visual>
      <origin
        xyz="0.42 0.31 0"
        rpy="1.57 0 -1.57" />
      <geometry>
        <mesh
          filename="package://yhs_chassis_description/meshes/MK-mini.STL"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
  </link>
</robot>
